<div class="container-md p-3 mb-2">
  <div class="row justify-content-md-center">
    <div class="col">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <button class="page-link" (click)="goFirst()" [disabled]="activePage() === 1" title="Primera página"><i class="fa fa-angle-double-left"></i></button>
        </li>
        <li class="page-item">
          <button class="page-link" (click)="goPrev()" [disabled]="activePage() === 1" title="Página anterior"><i class="fa fa-angle-left"></i></button>
        </li>

        @for (page of paginationNumbers(); track page) {
          <li class="page-item">
            <button 
              class="page-link" 
              [class.active]="page === activePage()" 
              (click)="goToPage(page)">
              {{ page }}
            </button>
          </li>
        }

        <li class="page-item">
          <button class="page-link" (click)="goNext()" [disabled]="activePage() === totalPages()" title="Página siguiente"><i class="fa fa-angle-right"></i></button>
        </li>
        <li class="page-item">
          <button class="page-link" (click)="goLast()" [disabled]="activePage() === totalPages()" title="Última página"><i class="fa fa-angle-double-right"></i></button>
        </li>
      </ul>
    </div>
  </div>
</div>
