<div class="container-md p-3 mb-2">
  <div class="row justify-content-md-center">
    <div class="col">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <button class="page-link" (click)="goFirst()" [disabled]="activePage === 1">Primero</button>
        </li>
        <li class="page-item">
          <button class="page-link" (click)="goPrev()" [disabled]="activePage === 1">Anterior</button>
        </li>

        @for (page of paginationNumbers; track page) {
          <li class="page-item">
            <button 
              class="page-link" 
              [class.active]="page === activePage" 
              (click)="goToPage(page)">
              {{ page }}
            </button>
          </li>
        }

        <li class="page-item">
          <button class="page-link" (click)="goNext()" [disabled]="activePage === totalPages">Siguiente</button>
        </li>
        <li class="page-item">
          <button class="page-link" (click)="goLast()" [disabled]="activePage === totalPages">Último</button>
        </li>
      </ul>
    </div>
  </div>
</div>
