<div class="card h-100 shadow-sm">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-primary">{{ lista?.nombre }}</h5>
        <p class="card-text text-muted">{{ lista?.descripcion }}</p>
        <div class="mt-auto d-flex gap-2">
          <button class="btn btn-primary btn-sm" (click)="goToDetail()">
            <i class="bi bi-pencil"></i> Ver
          </button>
          <button class="btn btn-warning btn-sm" 
                  (click)="editarLista()" 
                  data-bs-toggle="modal" 
                  data-bs-target="#modalEditarLista">
            <i class="bi bi-pencil"></i> Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="borrarLista()">
            <i class="bi bi-pencil"></i> Eliminar
          </button>
          
        </div>
      </div>
</div>