<app-navigation-bar
  [user]="usuario"
  (error)="setErrorMessage($event)">
</app-navigation-bar>

<app-notification
  [successMessage]="(successMessage$ | async) ?? ''"
  [errorMessage]="(errorMessage$ | async) ?? ''">
</app-notification>

<app-header [title]="title"></app-header>

<div class="container-md mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button 
        class="nav-link" 
        [class.active]="publica" 
        (click)="setPublica()">
        <i class="bi bi-globe"></i> Listas Públicas
      </button>
    </li>
    <li class="nav-item">
      <button 
        class="nav-link" 
        [class.active]="!publica" 
        (click)="setPublica()">
        <i class="bi bi-person-circle"></i> Mis Listas
      </button>
    </li>
  </ul>

  <div class="tab-content mt-4">
    <ng-container *ngIf="publica; else vistaUsuario">
        <app-lista-publica
        (error)="setErrorMessage($event)"
        (success)="setSuccessMessage($event)">
        </app-lista-publica>
    </ng-container>
    
    <ng-template #vistaUsuario>
        <app-lista-usuario
        (error)="setErrorMessage($event)"
        (success)="setSuccessMessage($event)">
        </app-lista-usuario>
    </ng-template>
  </div>
</div>
