<app-navigation-bar
  [user]="usuario"
  (error)="setErrorMessage($event)">
</app-navigation-bar>

<app-notification
  [successMessage]="successMessage"
  [errorMessage]="errorMessage">
</app-notification>

<app-header [title]="title"></app-header>

<app-search-form (search)="search($event.text, $event.page)">
</app-search-form>

<div class="container-md" *ngIf="movies">

  <div class="row mb-3" *ngFor="let row of movieRows">
    <div class="card-group">
      <app-movie-card
        *ngFor="let movie of row"
        [movie]="movie">
      </app-movie-card>
    </div>
  </div>

</div>

<app-paginator
  *ngIf="movies"
  [activePage]="movies.page"
  [totalPages]="movies.total_pages"
  (pageChange)="search(paramSearch, $event)">
</app-paginator>
