<app-navigation-bar
  [user]="usuario"
  (error)="setErrorMessage($event)">
</app-navigation-bar>

<app-notification
  [successMessage]="successMessage"
  [errorMessage]="errorMessage">
</app-notification>

<app-header [title]="title"></app-header>

<app-search-form (search)="search($event.text, $event.page)">
</app-search-form>

<br/>
<br/>

<ng-container *ngIf="movies$ | async as paginator">
  <div class="container-md" *ngIf="paginator">
    <div class="row mb" *ngFor="let row of buildRows(paginator)">
      <div class="card-group">
        <ng-container *ngFor="let movie of row">
          <app-movie-card
            *ngIf="movie"
            [movie]="movie">
          </app-movie-card>
        </ng-container>
      </div>
    </div>

  </div>

  <app-paginator
    *ngIf="paginator"
    [activePage]="paginator.page"
    [totalPages]="paginator.total_pages"
    (pageChange)="search(paramSearch, $event)">
  </app-paginator>

</ng-container>





