<app-navigation-bar
  [user]="usuario"
  (error)="setErrorMessage($event)">
</app-navigation-bar>

<app-notification
  [successMessage]="(successMessage$ | async) ?? ''"
  [errorMessage]="(errorMessage$ | async) ?? ''">
</app-notification>

<app-header [title]="title"></app-header>

<app-search-form (search)="search($event.text, $event.page)">
</app-search-form>

<br/>
<br/>

@if (isLoading$ | async) {
    <div class="text-center mt-5">
      <div class="spinner-border text-primary" role="status"></div>
      <p class="mt-2">Cargando la búsqueda...</p>
    </div>
} @else {
    @if (movies$ | async; as paginator) {
      @if (paginator) {
        <div class="container-md">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            @for (movie of paginator.results; track movie.id) {
              <div class="col">
                <app-movie-card [movie]="movie">
                </app-movie-card>
              </div>
            } 
          
          </div>
        </div>

        <app-paginator
          [activePage]="paginator.page"
          [totalPages]="paginator.total_pages"
          (pageChange)="search(paramSearch, $event)">
        </app-paginator>
      }
    }
}






