<app-navigation-bar
  [user]="usuario"
  (error)="errorMessage = $event">
</app-navigation-bar>

<app-notification
  [successMessage]="successMessage"
  [errorMessage]="errorMessage">
</app-notification>

<app-header [title]="title"></app-header>

<ng-container *ngIf="movies$ | async as paginator">
    <div class="container-md" *ngIf="paginator">
      <div class="row mb-3" *ngFor="let row of buildRows(paginator)">
        <div class="card-group">
          <ng-container *ngFor="let movie of row">
            <app-cartelera-card
              *ngIf="movie"
              [movie]="movie"
              [region]="region">
            </app-cartelera-card>
          </ng-container>

        </div>
      </div>
    </div>

    <app-paginator
      *ngIf="paginator"
      [activePage]="paginator.page"
      [totalPages]="paginator.total_pages"
      (pageChange)="loadCartelera(region, $event)">
    </app-paginator>
</ng-container>


<div class="modal fade" id="cineModal" tabindex="-1" aria-labelledby="cineModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cineModalLabel">Ver en cines</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Selecciona una cadena de cine para ver horarios:</p>
        
        <select class="form-select" [(ngModel)]="selectedCineUrl">
          <option value="" disabled selected>Selecciona un cine...</option>
          <option *ngFor="let cine of cines" [value]="cine.url">
            {{ cine.name }}
          </option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="selectedCineUrl=''">Cerrar</button>
        
        <button 
          type="button" 
          class="btn"
          style="background-color: #6f42c1; border-color: #6f42c1;" 
          (click)="goToCine()" 
          [disabled]="!selectedCineUrl">
          Ir al cine
          <i class="bi bi-box-arrow-up-right"></i>
        </button>
      </div>
  </div>
</div>
