<app-navigation-bar
  [user]="usuario"
  (error)="setErrorMessage($event)">
</app-navigation-bar>

<app-notification
  [successMessage]="''"
  [errorMessage]="(errorMessage$ | async) ?? ''">
</app-notification>

<app-header [title]="title"></app-header>

@if (isLoading$ | async) {
    <div class="text-center mt-5">
      <div class="spinner-border text-primary" role="status"></div>
      <p class="mt-2">Cargando cartelera...</p>
    </div>
} @else {
    @if (movies$ | async; as paginator) {
      @if (paginator) {
        <div class="container-md">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            @for (movie of paginator.results; track movie.id) {
              <div class="col">
                <app-cartelera-card
                  [movie]="movie"
                  [cines]="cines">
                </app-cartelera-card>
              </div>
            } 
          
          </div>      
        </div>

        <app-paginator
          [activePage]="paginator.page"
          [totalPages]="paginator.total_pages"
          (pageChange)="loadCartelera(region, $event)">
        </app-paginator>
      }
    } 
}



<div class="modal fade" id="cineModal" tabindex="-1" aria-labelledby="cineModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cineModalLabel">Ver en cines</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Selecciona una cadena de cine para ver horarios:</p>
        
        <select class="form-select" [(ngModel)]="selectedCineUrl">
          <option value="" disabled selected>Selecciona un cine...</option>
          @for (cine of cines; track cine.id) {
            <option [value]="cine.url">
              {{ cine.name }}
            </option>
          }
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="selectedCineUrl=''">Cerrar</button>
        
        <button 
          type="button" 
          class="btn"
          style="background-color: #6f42c1; border-color: #6f42c1;" 
          (click)="goToCine()" 
          [disabled]="!selectedCineUrl">
          Ir al cine
          <i class="bi bi-box-arrow-up-right"></i>
        </button>
      </div>
  </div>
</div>