@if (movieDetail) {
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h3 class="text-info text-center">{{ movieDetail.title }} {{ releaseDate }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        @if (img) {
          <img [src]="img" class="img-thumbnail" />
        }
      </div>

      <div class="col">
        <div class="row">{{ movieDetail.overview }}</div>
        <br />

        @if (video) {
          <div class="row">
            <div class="container">
              <iframe width="420" height="315" [src]="video"></iframe>
            </div>
          </div>
          <br />
        }

        <div class="row">
          <div class="container d-flex gap-2">
            @if (!showAddButton) {
              <button class="btn btn-primary" (click)="handleFavoritos()">Añadir a favoritos</button>
            } @else {
              <button class="btn btn-primary" (click)="handleRemoveFav()">Quitar de favoritos</button>
            }

            <button class="btn btn-secondary"  
                      (click)="handleVista()"
                      [disabled]="!showAddButton">
                <i class="fa me-1" [ngClass]="movieDetail.vista ? 'fa-eye' : 'fa-eye-slash'"></i>
                {{ movieDetail.vista ? 'Vista' : 'Marcar como vista' }}
            </button>  
          </div>
        </div>

        <br />

        <div class="row">
          <div class="container">
            <span class="fw-bold fst-italic">Géneros:</span> {{ genresText }}
          </div>
        </div>

        <br />

        <div class="row">
          <div class="container">
            <span class="fw-bold fst-italic">Valora: </span>
            @for (star of [1, 2, 3, 4, 5]; track star) {
              <i class="fa fa-lg cursor-pointer me-1"
                [ngClass]="(hoverPuntuacion || movieDetail.voto) >= star ? 'fa-star text-warning' : 'fa-star-o text-muted'"
                (click)="handleVote(star)"
                (mouseenter)="hoverPuntuacion = star"
                (mouseleave)="hoverPuntuacion = 0">
              </i>
            }
          </div>
        </div>

        <div class="row">
          <div class="container">
            <span class="fw-bold fst-italic">Total votos Todo Cine:</span>
            {{ movieDetail.total_votos_TC }}
          </div>
        </div>

        <div class="row">
          <div class="container">
            <span class="fw-bold fst-italic">Puntuación TC:</span>
            {{ movieDetail.votos_media_TC }}
          </div>
        </div>

        <br />

        <div class="row">
          <div class="container">
            <span class="fw-bold fst-italic">Votos totales:</span>
            {{ movieDetail.vote_count }}
          </div>
        </div>

        <div class="row">
          <div class="container">
            <span class="fw-bold fst-italic">Puntuación:</span>
            {{ movieDetail.vote_average }}
          </div>
        </div>

      </div>
    </div>
  </div>
}