.btn-cyan {
  background-color: #0dcaf0;
  color: #000;
  border-color: #0dcaf0;
}

.btn-cyan:hover {
  background-color: #08a4c3; /* Tono más oscuro (cyan-600) para el hover */
  color: #000;
  border-color: #08a4c3;
}