<app-navigation-bar
  [user]="usuario"
  (error)="setErrorMessage($event)">
</app-navigation-bar>

<app-notification
  [successMessage]="(successMessage$ | async) ?? ''"
  [errorMessage]="(errorMessage$ | async) ?? ''">
</app-notification>

<ng-container *ngIf="movieDetail$ | async as movie">
  <app-movie
      *ngIf="movie"
      [movieDetail]="movie"
      (addFavoritos)="addFavoritos($event)"
      (removeFavoritos)="removeFavoritos($event)"
      (addVote)="addVote($event.movie, $event.rating)">
  </app-movie>
</ng-container>


