<div class="container mt-3">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalLista">
      <i class="bi bi-plus-circle"></i> Crear lista
    </button>
  </div>

  @if (listas$ | async; as paginator) {
    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (lista of paginator.results; track lista.id) {
          <div class="col">
            <app-card-lista-usuario 
              [lista]="lista"
              (onDeleteLista)="onDeleteLista($event)"
              (onEditLista)="prepareLista($event)">
            </app-card-lista-usuario>
          </div>
        } @empty {
          <div class="col-12 text-center text-muted">
            <p>Crea tu primera lista.</p>
          </div>
        }
      </div>
    </div>
  
    <app-paginator
      [activePage]="paginator.page"
      [totalPages]="paginator.total_pages"
      (pageChange)="loadListas($event)">
    </app-paginator>
  }
</div>


<!-- Estructura del Modal -->
<div class="modal fade" id="modalLista" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ esEdicion ? 'Editar Lista' : 'Nueva Lista' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <form #listaForm="ngForm" (ngSubmit)="esEdicion ? onSubmitEditar() : onSubmitCrear()">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="listaActual.nombre" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" name="descripcion" [(ngModel)]="listaActual.descripcion" rows="3" required></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="!listaForm.form.valid" data-bs-dismiss="modal">
            {{ esEdicion ? 'Guardar cambios' : 'Crear lista' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>