<app-navigation-bar
  [user]="usuario"
  (error)="setErrorMessage($event)">
</app-navigation-bar>

<app-notification
  [successMessage]="''"
  [errorMessage]="(errorMessage$ | async) ?? ''">
</app-notification>

<ng-container *ngIf="award$ | async as award">
  <app-header [title]="award.titulo | uppercase"></app-header>

  <div class="container-md">
    <div class="row mb-3" *ngFor="let row of rows">
      <div class="card-group">
        <app-anyos
          *ngFor="let anyo of row"
          [premioCod]="award.id"
          [premioAnyo]="anyo"
          [premioTitulo]="award.titulo">
        </app-anyos>
      </div>
    </div>
  </div>
  
</ng-container>


