<app-header [title]="title"></app-header>

<div class="container-md mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button 
        class="nav-link" 
        [class.active]="publica" 
        (click)="setPublica()">
        <i class="fa fa-globe"></i> Listas Públicas
      </button>
    </li>
    <li class="nav-item">
      <button 
        class="nav-link" 
        [class.active]="!publica" 
        (click)="setPublica()">
        <i class="fa fa-user-circle"></i> Mis Listas
      </button>
    </li>
  </ul>

  <div class="tab-content mt-4">
    @if (publica) {
      <app-lista-publica
        (error)="showError($event)"
        (success)="showSuccess($event)">
      </app-lista-publica>
    } @else {
      <app-lista-usuario
        (error)="showError($event)"
        (success)="showSuccess($event)">
      </app-lista-usuario>
    }
  </div>
</div>
