<div class="card" style="width: 27rem; height: 60rem;">
  <img
    class="card-img-top"
    [src]="img"
    alt="poster"
  />

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">
      {{ movie.title }} {{ releaseDate }}
    </h5>

    <p class="card-text line-clamp">
      {{ movie.overview }}
    </p>

    <div class="form-check form-switch mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        [checked]="isVista"
        (change)="handleVista()"
      />

      <label class="form-check-label">
        Vista
      </label>
    </div>

    <div class="mt-auto d-flex justify-content-start">
      <button
        class="btn btn-primary detalleButton"
        (click)="handleLoadMovieDetail()">
        Detalle
      </button>
    </div>  
  </div>
</div>
