<div class="container-md">
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSearch()">
        <div class="mb-3">
          <label for="moviename" class="form-label">Buscar película</label>
          <input
            id="moviename"
            type="text"
            class="form-control"
            placeholder="Buscar película"
            [(ngModel)]="text"
            name="moviename"
          />
        </div>
        <button id="search-submit" type="submit" class="btn btn-primary">
          <i class="fa fa-search me-2"></i>
          Buscar
        </button>
      </form>
    </div>
  </div>
</div>
